# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# VIsual basic:
*.opensdf
*.sdf
*.sln
*.v12.suo
*.vcxproj*
ipch
stdafx*
targetver.h
Debug
Prod

#XCode
*.xcodeproj




